<!DOCTYPE html>
<html>
<head>
  <title>McDonald</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link 
   rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin="">
  </script>
  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
  <link
         rel="stylesheet"
         href="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7/leaflet.css"
    />
  <link
         rel="stylesheet"
         href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"
    />
  <link
         rel="stylesheet"
         href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
    />

  <style>
    
    #mapid { 
        height: 645px; 
        width: 100%;
    
    }
    
    
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 75px;">
        <a class="navbar-brand" href="/index">Hi {{session.username}}<span class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
        </div>
    </nav>

    <div id="mapid"></div>
    
    <script>
        
        const url = '../static/mcdonalds.png'
        const urlMan = '../static/fat.png'

        var routingControl;
        var lastRoute = null;
        var cordinate;   

        
        var Mc = new L.icon({
                iconUrl: url,
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [27, 27],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34]
        });

        var man = new L.icon({
                iconUrl: urlMan,
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [27, 27],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34]
        });

        var Icon = new L.Icon({
             iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
             shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
             iconSize: [0, 0],
             iconAnchor: [12, 41],
             popupAnchor: [1, -34],
             shadowSize: [41, 41]
         });

        

        if('geolocation' in navigator) {
            console.log('geolocation is available')
            // prendo la posizione dell'utente
            navigator.geolocation.getCurrentPosition(position => {
                console.log(position)
                let latitude = position.coords.latitude
                let longitude = position.coords.longitude
                // passo lat e lon dell'utente a python 
                const urllog = '/log';
                const xhr = new XMLHttpRequest();
                senderLog = JSON.stringify(latitude+':'+longitude);
                console.log(senderLog)
                xhr.open('POST',urllog);
                xhr.send(senderLog);
                // creo la mappa e con punto di riferimento le coordinate dell'utente e li creo il marker
                const mymap = L.map('mapid').setView([latitude, longitude], 15);
                const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
                const attribution = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                L.tileLayer(tileUrl, { attribution, maxZoom:18, minZoom:6 }).addTo(mymap);
                const marker = L.marker([latitude, longitude], {icon: man}).addTo(mymap).bindPopup("You are here");
                var x = {{df | safe}};
                //creo i marchi per tutti i McDonald che ci sono nel database
                for(var i = 0; i < x.length; i++){
                    //console.log('ciao')
                    g = new L.marker([x[i][1], x[i][0]], {icon: Mc}).addTo(mymap).bindPopup(x[i][2]).on('click', Click);
                }
                //setInterval(position, 1000);

                //serve per creare la strada tra il marker dell'utente e il marker selezionato
                function Click(e){
                    if (lastRoute != null) {
                        mymap.removeControl(lastRoute);
                        lastRoute = null;
                    }
                    routingControl = L.Routing.control({
                        waypoints: [
                            L.latLng(latitude, longitude),
                            cordinate = L.latLng(this.getLatLng())
                        ],
                        routeWhileDragging: false,
                        language: 'it',
                        position:"topright",
                        lineOptions:{
                        styles:[{color:"blue",opacity:1,weight:5}]
                        },
                        createMarker: function(i, wp, nWps) {
                        return L.marker(wp.latLng, {icon: Icon });
                        },
                    }).addTo(mymap);
                    lastRoute = routingControl
                    
                    // passo le coordinate del marker selezionato dall'utente a python
                    const url = '/index';
                    const xhr = new XMLHttpRequest();
                    sender = JSON.stringify(cordinate);
                    console.log(cordinate)
                    xhr.open('POST',url);
                    xhr.send(sender);

                }
            }); 
        } else {
            console.log('geolocation IS NOT available')
        }
        
      
    </script>
    
</body>
</html> 

