<!DOCTYPE html>
<html>
<head>
  <title>MCDonald</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link 
   rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin="">
  </script>
  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

  <style>
    
    #mapid { 
        height: 600px; 
        width: 100%;
    
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    li {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
    }
    
    
    </style>
</head>
<body>
    <div class="container">
        <ul>
            <li><h1>Hi {{session.username}}</h1></li>
            <li><h1><a href="{{ url_for('logout') }}">Logout</a></h1></li>
        </ul>
    </div>
    <div id="mapid"></div>
    
    <script>
        
        const url = '../static/mcdonalds.png'
        const urlMan = '../static/fat.png'

        var routingControl;
        var lastRoute = null;   

        
        var Mc = new L.icon({
                iconUrl: url,
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [27, 27   ],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34]
        });

        var man = new L.icon({
                iconUrl: urlMan,
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [27, 27],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34]
        });

        var Icon = new L.Icon({
             iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
             shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
             iconSize: [0, 0],
             iconAnchor: [12, 41],
             popupAnchor: [1, -34],
             shadowSize: [41, 41]
         });

        

        if('geolocation' in navigator) {
            console.log('geolocation is available')
            navigator.geolocation.getCurrentPosition(position => {
                console.log(position)
                let latitude = position.coords.latitude
                let longitude = position.coords.longitude
                const mymap = L.map('mapid').setView([latitude, longitude], 15);
                const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
                const attribution = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                L.tileLayer(tileUrl, { attribution, maxZoom:18, minZoom:6 }).addTo(mymap);
                const marker = L.marker([latitude, longitude], {icon: man}).addTo(mymap).bindPopup("You are here");
                var x = {{df | safe}};
                //var x = [[9.17,45.45]]
                for(var i = 0; i < x.length; i++){
                    //console.log('ciao')
                    g = new L.marker([x[i][1], x[i][0]], {icon: Mc}).addTo(mymap).bindPopup(x[i][2]).on('click', Click);
                }
                setInterval([latitude,longitude], 1000);

                $('leaflet-routing-container').css('background-color','white');
                
                function Click(e){
                    if (lastRoute != null) {
                        mymap.removeControl(lastRoute);
                        lastRoute = null;
                    }
                    routingControl = L.Routing.control({
                        waypoints: [
                            L.latLng(latitude, longitude),
                            L.latLng(this.getLatLng())
                        ],
                        routeWhileDragging: false,
                        language: 'it',
                        lineOptions:{
                        styles:[{color:"blue",opacity:1,weight:5}]
                        },
                        createMarker: function(i, wp, nWps) {
                        return L.marker(wp.latLng, {icon: Icon });
                        },
                    }).addTo(mymap);
                    lastRoute = routingControl

                }
            }); 
        } else {
            console.log('geolocation IS NOT available')
        }
        
      
    </script>
    
</body>
</html> 

