<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Log</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/Log">Log<span class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/Utenti">Utenti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Seleziona">Seleziona</a>
            </li>
          </ul>
        </div>
    </nav>

    <div class="justify-content-center container">
      <h1>Log</h1>   
        <div class="table table-responsive" style="height: 600px;">       
            <table class="table table-bordered table-striped mb-0 table table-bordered">
                <thead>
                <tr><td>id</td><td>id_utente</td><td>data</td><td>ora entrata</td><td>ora uscita</td><td>lat</td><td>lon</td></tr>
                </thead >
                <tbody>
                {% for row in log %}
                    <tr><td>{{row.id}}</td><td>{{row.id_utente}}</td><td>{{row.data}}</td><td>{{row.ora_inizio}}</td><td>{{row.ora_fine}}</td><td>{{row.lat}}</td><td>{{row.lon}}</td></tr>
                {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
</body>
</html> 